 <h2>About Us</h2>

 
	<!-- Section -->
				<section class="md-section bg-gray" id="id-2">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 ">
								
								<!-- slide-image -->
								<div class="slide-image">
									
									<!-- swiper__module swiper-container -->
									<div class="swiper__module swiper-container slide-image__front" data-options='{"slidesPerView":1,"spaceBetween":0}'>
										<div class="swiper-wrapper">
											<div class="slide-item" style="background-image: url('.../assets/img/about/1.jpg');"></div>
											<div class="slide-item" style="background-image: url('.../assets/img/about/2.jpg');"></div>
											<div class="slide-item" style="background-image: url('.../assets/img/about/3.jpg');"></div>
										</div>
										<div class="swiper-pagination-custom"></div>
									</div><!-- End / swiper__module swiper-container -->
									
									
									<!-- swiper-thumbnails__module swiper-container -->
									<div class="swiper-thumbnails__module swiper-container slide-image__black" data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
										<div class="swiper-wrapper">
											<div class="slide-item" style="background-image: url('.../assets/img/about/1b.jpg');"></div>
											<div class="slide-item" style="background-image: url('.../assets/img/about/2b.jpg');"></div>
											<div class="slide-item" style="background-image: url('.../assets/img/about/3b.jpg');"></div>
										</div>
									</div><!-- End / swiper-thumbnails__module swiper-container -->
									
								</div><!-- End / slide-image -->
								
							</div>
							<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
								
								<!-- title -->
								<div class="title">
									<h2 class="title__title">Hello from Sonwil Finance</h2>
								</div><!-- End / title -->
								
								<p class="fz-16">Duis porttitor libero ac egestas euismod. Maecenas quis felis turpis. Nulla quis turpis sed augue</p>
								<p class="fz-16">Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla,</p>
							</div>
						</div>